.welcome-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.welcome-page h2 {
  margin-left: auto;
  margin-right: auto;
  grid-area: 1 / 2 / span 1 / span 1;
}

.signup {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  grid-area: 2 / 1 / span 1 / span 2;
}

.login {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  grid-area: 2 / 2 / span 1 / span 2;
}

.middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.info {
  grid-area: 2 / 2 / span 1 / span 1;
  margin: auto;
  text-align: center;
}

.home {
  float: right;
  display: grid;
  text-align: center;
  overflow-wrap: break-word;
  margin: 0px;
  width: 150px;
  height: 100%;
  background-color: #B24A3B;
}

.home button {
  margin: auto;
  display: block;
}

.home-page {
  margin: auto;
  text-align: center;
  height: 50%;
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 5px;
  background-color: #74b6ab;
}

img {
  max-width: 200px;
  max-height: 100px;
  border-radius: 8px;
  display: block;
  margin: auto;
  padding-bottom: 3px;
}

.data-holder {
  display: block;
  margin: auto;
  margin: 6px;
  text-align: center;
  grid-row: 2 / span 1;
}

.event-holder {
  display: block;
  margin: auto;
  margin: 6px;
  text-align: center;
}
.list-group-item a {
  color: black !important;
}

.search {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  pointer-events: none;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } 
}

span {
  word-wrap: break-word;
  text-align: center;
}

.modal-content {
  background-color: #74b6ab !important;
}

#jumbotron-color {
  background-color: #B24A3B;
}

#button_floater {
  float: right;
  margin: 0 auto;
}
#button_floater button {
  padding: 2px;
}

.list-group-item {
  background-color: #74b6ab !important;
}

.btn:active {
  background-color: #D982AF;
}

#like-random-song {
  background-color: #74b6ab !important;
}

.search-label {
  margin: auto;
  text-align: center;
}

.dropdown-menu {
  display: block;
  margin: auto;
}